%h2 Put your url in and we'll do the rest ;)
= link_to 'Back to groups', groups_path

#linkadd
  %textarea{class: "text"}
  #preview

:javascript
  //setup before functions
  var typingTimer;                //timer identifier
  var doneTypingInterval = 500;  //time in ms, 5 second for example

  //on keyup, start the countdown
  $('.text').on("keyup", function(){
      if (typingTimer) clearTimeout(typingTimer);                 // Clear if already set
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
  });

  //on keydown, clear the countdown
  $('.text').on("keydown", function(){
      clearTimeout(typingTimer);
  });
  //start
  $( document ).ajaxStart(function() {
    console.log('ajax started');
    $('#preview').html('loading...');
  });
  //user is "finished typing," do something
  function doneTyping () {
      var text = $('.text').val();
      if(ValidUrl(text)){
          $.ajax({
            url: "/urls/url_data",
            cache: false,
            type: 'POST',
            data: {url: text},
            success: function(html){
              console.log('ajax finished');
              $('body').focus();
            },
            error: function(){
                alert("show form with a pithy header");
                $('body').focus();
            }
          });
      }

  }

  //need to esacpe so I'm not getting extra stuff going on from those jerk hackers

  //Check for url
  function ValidUrl(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    if(!pattern.test(str)) {
      return false;
    } else {
      return true;
    }
  }
