<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @url.keywords %>
</p>

<p>
  <strong>Default note:</strong>
  <%= @url.default_note %>
</p>

<p>
  <strong>String:</strong>
  <%= @url.string %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
