-# %h2= @bookmark.title
-# = image_tag @bookmark.image_url
-# = @bookmark.note
-# = link_to "see the link", @bookmark.url.url
-#
-# - if @status == "new user"
-#   = render "new_user"
-# - elsif @status == "unclaimed user"
-#   = render "unclaimed_user"

If you'd like to stop recieving these links from this program or from
this user please click the link below

= link_to "culdesac.is/a-bookmark-tool/stop-sending-me-stuff (comming soon)", ""
